<div class="row">
  <div class="col-md-6  col-lg-12">
    <h4 class="page-head-line">Dashboard for <%= @user.name %></h4>
  </div>
</div>


<% counter = 1 %>
<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-md-12">
   <!--    Context Classes  -->
   <div class="panel panel-default">

    <div class="panel-heading">
      SHOWING ALL PRODUCTS
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name of Product</th>
              <th>Price of Product</th>
              <th>Current Status</th>
              <th>Update Status</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
           <% @products.each do |product| %>
           <tr class="success">
            <td><%= counter %></td>
            <td><%= link_to product.name.upcase, edit_product_path(product) %></td>
            <td><%= product.price %></td>
            <td><%= product.state.upcase %></td>
            <td>
              <%= form_for product do |t| %>
              <%= t.hidden_field :name, :value => product.name %>
              <%= t.hidden_field :state, :value => "Available" %>
              <%= t.hidden_field :spicy, :value => product.spicy %>
              <%= t.hidden_field :price, :value => product.price %>
              <%= t.hidden_field :ingredients, :value => product.ingredients %>
              <%= t.submit'Available', class: 'btn btn-info' %>
              <% end %>
            </td>
            <td>
              <%= form_for product do |t| %>
              <%= t.hidden_field :name, :value => product.name %>
              <%= t.hidden_field :state, :value => "Still Cooking" %>
              <%= t.hidden_field :spicy, :value => product.spicy %>
              <%= t.hidden_field :price, :value => product.price %>
              <%= t.hidden_field :ingredients, :value => product.ingredients %>
              <%= t.submit'Still Cooking', class: 'btn btn-success' %>
              <% end %>
            </td>
            <td>
              <%= form_for product do |t| %>
              <%= t.hidden_field :name, :value => product.name %>
              <%= t.hidden_field :state, :value => "Not Available" %>
              <%= t.hidden_field :spicy, :value => product.spicy %>
              <%= t.hidden_field :price, :value => product.price %>
              <%= t.hidden_field :ingredients, :value => product.ingredients %>
              <%= t.submit'Not Available', class: 'btn btn-danger' %>
              <% end %>
            </td>
            <td><%= link_to( content_tag(:i, nil, class: 'fa fa-trash-o'), product, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
          </tr>
          <% counter += 1 %>
          <% end %>
        </tbody>
      </table>
      <div class="col-lg-12 col-md-4 col-sm-4 mb">
        <%= will_paginate @products %>
      </div>
    </div>
  </div>
</div>
<!--  end  Context Classes  -->
</div>
</div>
