
<%= form_for(@product) do |f| %>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
     <div class="panel-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Name Of Product</label>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Current Status Of Product</label> &nbsp
        <%= f.select :state, ['Available','Still Cooking','Not Available'] %>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Is the product spicy?</label> &nbsp
        <%= f.select :spicy, ['true','false'] %>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Price</label> &nbsp
        <%= f.number_field :price, :step => 0.1, class: 'form-control' %>
      </div>
      <div class="form-group" id="ingre">
        <label for="exampleInputEmail1">Ingredients / Decription of Product</label>
        <%= f.text_area :ingredients, class: 'form-control' %>
      </div>
      <div>
        <%= f.submit 'Create Product', class: 'btn btn-primary btn-block' %>
      </div>
      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="alert alert-info">
    Please create a product and specify its current status
    <br />
    <strong> The current status of a product will tell customers if :</strong>
    <ul>
      <li>
        The product is available
      </li>
      <li>
        The product is still cooking
      </li>
      <li>
        The product is not available
      </li>
    </ul>

  </div>
</div>

</div>

</div>
<% end %>
