<div class="row">
  <div class="col-md-6  col-lg-12">
    <h4 class="page-head-line">Dashboard for <%= current_user.name %></h4>
  </div>
</div>


<% counter = 1 %>
<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-md-12">
   <!--    Context Classes  -->
   <div class="panel panel-default">

    <div class="panel-heading">
      SHOWING ALL FOODS
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name of Food</th>
              <th>Current Status</th>
              <th>Cafeteria Name</th>
              <th>Perform Actions</th>
            </tr>
          </thead>
          <tbody>
           <% @products.each do |product| %>
           <tr class="success">
            <td><%= counter %></td>
            <td><%= product.name.capitalize %></td>
            <td><%= product.state.capitalize %></td>
            <td><%= product.user.name.capitalize %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% counter += 1 %>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Product', new_product_path %>
    </div>
  </div>
</div>
<!--  end  Context Classes  -->
</div>
</div>
